@model GPOrder.ViewModels.ShopGroupedOrders

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Orders", new { shopId = Model.ShopId }, null)
</p>

@Html.DisplayFor(m => m.GroupOrders, "GroupedOrdersGrid")