@model IEnumerable<GPOrder.Models.ShopPicture>

<div id="ShopPicturesDiv">
    @if (Model != null)
    {
        <div class="form-horizontal">
            <div class="form-group">
                @foreach (var shopPicture in Model)
                {
                    @Html.DisplayFor(m => shopPicture)
                }
            </div>
        </div>
    }
</div>

