@model IEnumerable<GPOrder.Models.ApplicationUser>

<div id="ApplicationUsersDiv">
    @if (Model != null)
    {
        foreach (var applicationUser in Model)
        {
            @Html.EditorFor(m => applicationUser)
        }
    }
</div>
