@model GPOrder.Models.OrderLine

@using (Html.BeginCollectionItem(Html.ViewData.TemplateInfo.HtmlFieldPrefix))
{
    <div class="form-horizontal">
        <h4>OrderLine</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Description)
                @Html.HiddenFor(m => m.Description)
            </div>
        </div>
    </div>
}