@model IEnumerable<GPOrder.Models.ShopLink>

<div id="ShopLinksDiv">
    @if (Model != null)
    {
        foreach (var shopLink in Model)
        {
            @Html.EditorFor(m => shopLink)
        }
    }
</div>
