@model GPOrder.Models.BillPicture

@using (Html.BeginCollectionItem("BillPictures"))
{
    var description = string.Format("{0} by {1} on {2}", Model.Name, Model.CreateUser.UserName, Model.CreationDate);
    <div class="col-md-3">
        <a href="@Url.Action("ShowPicture", new {Model.Id})">
            <img id="@Model.Id" class="img-thumbnail" alt="@description" title="@description" src="data:@Model.LinkedFile.ContentType;base64,@Convert.ToBase64String(Model.LinkedFile.Content)" />
        </a>
    </div>
}
