@model GPOrder.Models.BillEvent

@using (Html.BeginCollectionItem("BillEvents"))
{
    @*<div class="form-horizontal">*@
        <div class="form-group">
            <div class="col-md-2">
                @Html.HiddenFor(m => m.CreditUser_Id)
                @Html.DisplayFor(m => m.CreditUser.UserName)
            </div>
            <div class="col-md-2">
                @Html.EditorFor(m => m.Amount)
            </div>
        </div>
    @*</div>*@
}

