@model GPOrder.Models.ApplicationUser

@using (Html.BeginCollectionItem("ApplicationUsers"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UserName)
                @Html.DisplayFor(m => m.UserName)
            </div>
        </div>
    </div>
}
